.main {
	box-sizing: border-box;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 20px 20px 0;
	&__heading {
		margin-bottom: 20px;
		font-size: 3rem;
		text-align: center;
	}
	&__view {
		padding: 20px 10px;
	}
	&__article {
		margin-bottom: 20px;
		padding-bottom: 15px;
		border-bottom: 1px solid $midnight-blue-color;
	}
	&__navigation {
		@include clearfix;
		padding: 20px 0;
	}
	&__navigation__button {
		padding: 5px 15px;
		font-size: 1.2rem;
		text-decoration: none;
		color: $midnight-blue-color;
		background-color: $clouds-color;
		transition: 0.5s background-color, 0.3s transform;
		&:first-of-type {
			float: left;
		}
		&:last-of-type {
			float: right;
		}
		&:hover {
			cursor: pointer;
			transition: 0.5s background-color, 0.3s transform;
			background-color: darken($clouds-color, 20%);
		}
		&:focus {
			transition: 0.5s background-color, 0.3s transform;
			transform: translateY(5px);
		}
		&--disable {
			display: none;
		}
	}
}

.article {
	&__paragraph {
		text-indent: 20px;
	}
	&__aside {
		@include clearfix;
		padding: 15px 0;
	}
	&__aside__link {
		padding: 5px 10px;
		text-align: center;
		text-decoration: none;
		color: $clouds-color;
		background-color: $midnight-blue-color;
		transition: 0.5s background-color;
		&:hover {
			transition: 0.5s background-color;
			background-color: lighten($midnight-blue-color, 10%);
		}
		&:nth-of-type(1n) {
			float: left;
		}
		&:nth-of-type(2n) {
			float: right;
		}
	}
	&__footer {
		&__index {
			float: right;
		}
	}
}


.main--loading {
	.main {
		&__navigation__button {
			pointer-events: none;
   			cursor: default;
		}
	}
}