.main {
	box-sizing: border-box;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 20px 20px 0;
	&__heading {
		margin-bottom: 0;
		font-size: 3rem;
		text-align: center;
		color: $secondary-color;
	}
	&__view {
		padding: 20px 10px;
	}
}

span.hidden-text {
	display: none
}

