.main {
	box-sizing: border-box;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 20px 20px 0;
	&__heading {
		margin-bottom: 0;
		font-size: 3rem;
		text-align: center;
		color: $secondary-color;
	}
	&__view {
		padding: 20px 10px;
	}
	&__article {
		margin-bottom: 20px;
	}
	&__navigation {
		@include clearfix;
		padding: 20px 0;
	}
}

.article {
	&__title {
		padding: 10px 15px;
		color: $third-color;
		background-color: $primary-color;
	}
	&__content {
		padding: 10px 15px;
		border: 3px dashed $primary-color;
		border-top: none;
	}
	&__paragraph {
		text-indent: 20px;
	}
	&__aside {
		@include clearfix;
		padding: 15px 0;
	}
	&__aside__link {
		padding: 5px 10px;
		text-align: center;
		text-decoration: none;
		color: $third-color;
		background-color: $secondary-color;
		transition: 0.5s background-color;
		&:hover {
			transition: 0.5s background-color;
			background-color: lighten($secondary-color, 10%);
		}
		&:nth-of-type(1n) {
			float: left;
		}
		&:nth-of-type(2n) {
			float: right;
		}
	}
	&__footer {
		@include clearfix;
		margin-top: 15px;
		&__datetime-wrapper {
			float: left;
			line-height: 40px;
			color: $secondary-color;
		}
		&__index {
			height: 40px;
			min-width: 40px;
			float: right;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
			color: $third-color;
			background-color: $primary-color;
		}
	}
}

.navigation {
	&__button {
		@include no-select;
		padding: 5px 15px;
		font-size: 1.2rem;
		text-decoration: none;
		color: $third-color;
		background-color: $primary-color;
		transition: 0.5s background-color, 0.3s transform;
		&:first-of-type {
			float: left;
		}
		&:last-of-type {
			float: right;
		}
		&:hover {
			cursor: pointer;
			transition: 0.5s background-color, 0.3s transform;
			background-color: darken($primary-color, 20%);
		}
		&:focus {
			transition: 0.5s background-color, 0.3s transform;
			transform: translateY(5px);
		}
		&--disable {
			display: none;
		}
	}
	&__page {
		width: 100%;
		padding: 5px 15px;
		text-align: center;
		font-size: 1.2rem;
		font-weight: bold;
		color: $secondary-color;
	}
}

.not-found {
	position: absolute;
  	top: 30%;
  	left: 0;
  	right: 0;
  	text-align: center;
	&__header {
		font-size: 5rem;
		color: $primary-color;
	}
	&__link {
		font-size: 2rem;
		text-decoration: none;
		color: $secondary-color;
	}
}

.main--loading {
	.main {
		&__article {
			opacity: 0;
		}
	}
}

// Desktop
@media all and (max-width: $bp-mobile) {
	.not-found {
		&__header {
			font-size: 3.5rem;
		}
	}
}