// Colors
$midnight-blue-color: #2c3e50;
$clouds-color: #ecf0f1;
$green-color: #01C0B7;
$dark-blue: #14315C;

$primary-color: #01C0B7;
$secondary-color: #14315C;
$third-color: #fff;

$preloader-color: #01C0B7;

// Resolutions
$bp-mobile: 768px;
$bp-tablet: 1023px;
$bp-desktop: 1279px;

// Mixins

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}