.article {
	margin-bottom: 20px;
	&__title {
		padding: 10px 15px;
		color: $third-color;
		background-color: $primary-color;
	}
	&__content {
		padding: 10px 15px;
		border: 3px dashed $primary-color;
		border-top: none;
	}
	&__paragraph {
		text-indent: 20px;
	}
	&__aside {
		@include clearfix;
		padding: 15px 0;
	}
	&__aside__link {
		padding: 5px 10px;
		text-align: center;
		text-decoration: none;
		color: $third-color;
		background-color: $secondary-color;
		transition: 0.5s background-color;
		&:hover {
			transition: 0.5s background-color;
			background-color: lighten($secondary-color, 10%);
		}
		&:nth-of-type(1n) {
			float: left;
		}
		&:nth-of-type(2n) {
			float: right;
		}
	}
	&__footer {
		@include clearfix;
		margin-top: 15px;
		&__datetime-wrapper {
			float: left;
			line-height: 40px;
			color: $secondary-color;
		}
		&__index {
			height: 40px;
			min-width: 40px;
			float: right;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
			color: $third-color;
			background-color: $primary-color;
		}
	}
}

// When page loading
.main--loading {
	.article {
		opacity: 0;
	}
}
